// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
@use '../abstracts/' as *;

.footer {
  $gap-flow: rem(35);

  background-color: var(--clr-primary-800);

  display: grid;
  justify-items: center;
  padding-block: $gap-flow;
  gap: $gap-flow;

  &__logo {
    margin-inline: auto;
  }
  & .links {
    display: flex;
    gap: rem(15);
    margin-top: $gap-flow;
    &__img {
      @include on-event {
        filter: brightness(0) saturate(100%) invert(69%) sepia(36%)
          saturate(870%) hue-rotate(81deg) brightness(91%) contrast(93%);
      }
    }

    &__item img {
      width: rem(23);
    }
  }

  &__column {
    &--big {
      display: grid;
      justify-items: center;
    }
  }

  & .copyright {
    margin-top: $gap-flow;
  }
}
