@use './mixins' as *;
@use './functions' as *;

$scale: (
  medium: (
    100: rem(10),
    200: rem(12.5),
    300: rem(14),
    400: rem(15),
    500: rem(19),
    600: 1.953rem,
    700: rem(32),
    800: rem(42),
  ),
  large: (
    100: rem(10),
    200: rem(13),
    300: rem(15),
    400: rem(17),
    500: rem(23),
    600: 2.827rem,
    700: rem(39),
    800: rem(57),
  ),
);

$weights: (
  light: 300,
  normal: 400,
  bold: 700,
);

:root {
  /// Build css custom variables for font-size
  /// It integer a media query for each font (mobile-first)
  @each $screen-size, $font-size in $scale {
    @if $screen-size == 'medium' {
      @each $size, $value in $font-size {
        --fs-#{$size}: #{$value};
      }
    } @else {
      @include breakpoint(large) {
        @each $size, $value in $font-size {
          --fs-#{$size}: #{$value};
        }
      }
    }
  }

  @each $name, $value in $weights {
    --fw-#{$name}: #{$value};
  }
}
