@use './mixins' as *;
@use './functions' as *;

$scale: (
  sm: (
    100: rem(10),
    200: rem(12.5),
    300: rem(14),
    400: rem(15),
    500: rem(19),
    600: 1.953rem,
    700: rem(32),
    800: rem(42),
  ),
  lg: (
    300: rem(16),
    400: rem(18),
    500: 2rem,
    600: 2.827rem,
    700: rem(35),
    800: rem(50),
  ),
);

$weights: (
  light: 300,
  normal: 400,
  bold: 700,
);

:root {
  /// Build css custom variables for font-size
  /// It integer a media query for each font (mobile-first)
  /// Une autre solution serait d'utiliser clamp()
  /// ==> clamp(valFixMinEnREM, valFixEnREMPlusValEnVW, valFixMaxEnREM)
  /// ==> valFixMinEnREM sont les valeur pour 'small' et valFixMaxEnREM sont les valeurs pour 'large'
  @each $screen-size, $font-size in $scale {
    @each $size, $value in $font-size {
      --fs-#{$screen-size}-#{$size}: #{$value};
    }
  }

  @each $name, $value in $weights {
    --fw-#{$name}: #{$value};
  }
}
