@use '../../abstracts/' as *;

.hero {
  gap: rem(22);

  padding: 0;

  @include breakpoint(large) {
    grid-template-columns: 0.37fr 0.63fr;
    grid-template-areas: 'column-1  column-2';

    padding-right: 0;
    padding-left: $padding-desktop;
  }

  &__bg {
    width: 100%;
    min-height: $hero-height-sm;

    overflow: hidden;

    background-image: url('../assets/bg-intro-mobile.svg');
    background-size: 100%;

    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;

    @include breakpoint(large) {
      grid-area: column-2;

      min-height: $hero-height-lg;

      background-image: url('../assets/bg-intro-desktop.svg');
      background-size: 170%;
      background-position-x: 5%;
      background-position-y: 62%;

      overflow: visible;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(20);

    @include breakpoint(large) {
      grid-area: column-1;

      align-items: flex-start;
      justify-content: center;
      gap: rem(25);

      margin-top: rem(10);
    }
  }
  & .h1 {
    width: fit-content;
  }

  & .subtitle {
    padding-inline: $padding-mobile;

    @include breakpoint(large) {
      padding: 0 rem(30) 0 0;
    }
  }

  & button {
    margin-top: rem(10);

    @include breakpoint(large) {
      margin-top: rem(8);
    }
  }
}
